canvas {
  display: block;
  margin: 0 auto 1.75em auto;
  border: 1px solid #eee;
}

.no-cover.post-head.main-header {
  height: 62px;
  position: absolute;
}

.main-nav {
  padding: 12px 12px 0 12px;
  margin: 0;
}

.post-template .post-header {
  width: 640px;
  margin: 16px auto 24px auto;
}

.post-template .post-title {
  font-size: 24px;
  float: left;
}

.post-template .post-meta {
  float: right;
  padding: 2px 0;
}

.post-subscribe {
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
  border-top: #EBF2F6 1px solid;
}

/* MailChimp signup form */
.post-subscribe .post-embed-signup { font-size: 14px; }
.post-subscribe form { padding-top: 0 !important; padding-bottom: 0 !important; }
.post-subscribe h2 { margin-top: 0 !important; }
.post-subscribe .mc-field-group { padding-bottom: 0 !important; }
.post-subscribe .button { margin-bottom: 0 !important; }

.post-footer {
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
  border-top: #EBF2F6 1px solid;
}

.post-footer .share {
  top: 4rem;
}

.read-next {
  margin-top: 0;
}

.read-next-story {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex: 1;
}
.read-next-story .post:before {
  content: "Play This Next \BB";
}
.read-next-story.prev .post:before {
  content: "\AB  You Might Enjoy";
}
